@page "/account"

<h2>Account Page</h2>

<RadzenStack AlignItems="AlignItems.Center" Class="rz-mx-auto rz-my-12">

    <RadzenImage Path="https://static9.depositphotos.com/1146092/1158/i/950/depositphotos_11581179-stock-photo-dog-under-construction.jpg" Style="width: 15rem;" />

</RadzenStack>