@page "/"

<section class="hero-section hero-section-full-height">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-12 p-0">
                <div id="hero-slide" class="carousel carousel-fade slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="majumiservice/images/services.jpg" class="carousel-image img-fluid" >

                            <div class="carousel-caption d-flex flex-column justify-content-end">
                                <h1>Bezpłatna </h1>
                                <h1>diagnoza</h1>

                                <p>Oferujemy specjalistyczną diagnozę, po wykonaniu 
                                    <br> której informujemy właściciela pojazdu o usterkach pojazdu
                                </p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="majumiservice/images/inne.jpg" class="carousel-image img-fluid" alt="...">

                            <div class="carousel-caption d-flex flex-column justify-content-end">
                                <h1>Koszty      </h1>
                                <h1>naprawy</h1>

                                <p>Przedstawiamy koszty naprawy, których suma 
                                    <br> uwzględnia wykonaną usługę oraz wszystkie części
                                </p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="majumiservice/images/car.jpg" class="carousel-image img-fluid" alt="...">

                            <div class="carousel-caption d-flex flex-column justify-content-end">
                                <h1>Czas naprawy</h1>

                                <p>Szacujemy czas naprawy</p>
                            </div>
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#hero-slide" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#hero-slide" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12 text-center mx-auto">
                <h2 class="mb-5">Najlepszy serwis samochodowy w Polsce!</h2>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a href="#ludzie" class=" smoothscroll d-block">
                        <img src="/majumiservice/images/img1.png" class="featured-block-image img-fluid" alt="">

                        <p class="featured-block-text">Niezawodni <strong>fachowcy</strong></p>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a class="d-block">
                        <img src="/majumiservice/images/img2.png" class="featured-block-image img-fluid" alt="">

                        <p class="featured-block-text">Pełna gama <strong> usług </strong></p>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a class="d-block">
                        <img src="/majumiservice/images/img4.png" class="featured-block-image img-fluid" alt="">

                        <p class="featured-block-text">  <strong>Szybki</strong> czas naprawy</p>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a class="d-block">
                        <img src="/majumiservice/images/img3.png" class="featured-block-image img-fluid" alt="">

                        <p class="featured-block-text"> Gwarancja <strong>jakości</strong></p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-padding section-bg" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                <img src="/majumiservice/images/mechanic2.jpg" class="custom-text-box-image img-fluid" alt="">
            </div>

            <div class="col-lg-6 col-12">
                <div class="custom-text-box">
                    <h2 class="mb-2">Jak działamy?</h2>

                    <h5 class="mb-3">Twoje bezpieczeństwo jest naszym priorytetem</h5>

                    <p class="mb-0">
                        Zapraszamy do naszego profesjonalnego serwisu samochodowego, gdzie Twoje potrzeby związane z pojazdem są naszym priorytetem. Jesteśmy doświadczoną ekipą specjalistów, gotową zaoferować kompleksowe usługi naprawcze i konserwacyjne dla Twojego samochodu.
                        <br>
                    </p>

                    <p class="mb-0">
                        Nasz serwis samochodowy gwarantuje nie tylko wysoką jakość pracy, ale również pełne zaangażowanie w dbanie o Twój pojazd. Niezawodni fachowcy w naszym zespole posiadają bogate doświadczenie oraz szeroką wiedzę techniczną, co pozwala nam skutecznie diagnozować i rozwiązywać problemy z różnymi markami i modelami samochodów.
                        <br>
                    </p>

                    <p class="mb-0">
                        Dysponujemy nowoczesnymi narzędziami i technologią, aby zapewnić Twojemu samochodowi kompleksową obsługę. Niezależnie od tego, czy potrzebujesz rutynowej konserwacji, naprawy mechanicznej, wymiany części, diagnostyki komputerowej, klimatyzacji czy usług blacharsko-lakierniczych, nasz zespół jest gotów sprostać Twoim oczekiwaniom.
                        <br>
                    </p>

                    <p class="mb-0">
                        Jesteśmy dumni z naszego zobowiązania do doskonałości i nieustannego podnoszenia kwalifikacji naszych techników. Wierzymy, że rzetelna i profesjonalna obsługa klienta jest kluczem do budowania długotrwałych relacji. Dlatego dbamy o to, abyś czuł się mile widziany i zadowolony, zarówno podczas kontaktu z naszym personelem, jak i po odebraniu swojego samochodu.
                        <br>
                    </p>


                    <p class="mb-0">
                        Zaufaj nam, a zagwarantujemy Ci szybki czas naprawy, konkurencyjne ceny oraz bezpieczeństwo Twojego pojazdu na drodze. Naszym celem jest nie tylko skuteczna naprawa, ale także Twój pełny komfort jazdy i satysfakcja z naszych usług.
                        <br>
                    </p>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="about-section section-padding" id="ludzie">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12 text-center mx-auto">
                <h2 class="mb-5">Ekipa naszych najlepszych mechaników</h2>
            </div>
            <div class="col-lg-6 col-md-5 col-12">
                <img src="/majumiservice/images/mikolaj.png" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="">
            </div>

            <div class="col-lg-5 col-md-7 col-12">
                <div class="custom-text-block">
                    <h2 class="mb-0">Mikołaj Matuszewski</h2>

                    <p class="text-muted mb-lg-4 mb-md-4">Mistrz mechaniki, Pasjonat samochodów</p>

                    <p>Z doświadczeniem i wykształceniem technicznym, oferuje kompleksowe usługi naprawcze i diagnostyczne. Jego miłość do samochodów motywuje go do zapewnienia najwyższej jakości obsługi. Zaufaj Mikołajowi, jeśli szukasz fachowca, który podejdzie do Twojego pojazdu z pasją i precyzją.</p>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="about-section section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-5 col-12">
                <img src="/majumiservice/images/mati.png" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="">
            </div>

            <div class="col-lg-5 col-md-7 col-12">
                <div class="custom-text-block">
                    <h2 class="mb-0">Mateusz Jurczak</h2>

                    <p class="text-muted mb-lg-4 mb-md-4">Doświadczony i wykwalifikowany mechanik</p>

                    <p>W świecie samochodów istnieje specjalny rodzaj magii, który Mateusz Jurczak doskonale rozumie. Jego zdolności jako mechanika są jednym z najcenniejszych skarbów, jakie można znaleźć. Ukończył znakomite technikum samochodowe, uzyskując wyjątkową wiedzę i umiejętności. Jeśli szukasz mechanika, który wkłada całe serce w swoją pracę, Mateusz jest najlepszym wyborem.</p>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="about-section section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-5 col-12">
                <img src="/majumiservice/images/mechanic.jpg" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="">
            </div>

            <div class="col-lg-5 col-md-7 col-12">
                <div class="custom-text-block">
                    <h2 class="mb-0">Julia Parobczy</h2>

                    <p class="text-muted mb-lg-4 mb-md-4">Wykwalifikowana specjalistka, która dba o szczegóły</p>

                    <p>Julia zdaje sobie sprawę, jak ważne jest dla klientów bezpieczeństwo i niezawodność ich pojazdów. Dlatego podejmuje wszelkie starania, aby zagwarantować, że samochody, które trafiają do jej warsztatu, są w pełni sprawne i gotowe do długiej drogi. Zaufaj Julii Parobczy, jeśli szukasz mechanika, który pomoże Ci w naprawie Twojego samochodu. Jej wiedza, doświadczenie i zaangażowanie w pracę sprawią, że Twój pojazd wróci na drogę w doskonałym stanie.</p>

                </div>
            </div>

        </div>
    </div>
</section>



<section class="volunteer-section section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-lg-15 col-15 mb-5 mb-lg-0">
                <h2 class="text-white mb-5">Obecnie naprawiamy samochody w zakresie:</h2>
                <div class="col-lg-6 col-md-6 col-15">
                    <div class="custom-text-box mb-lg-0">
                        <ul class="custom-list mt-2">
                            <li class="custom-list-item d-flex">
                                <i class="bi-check custom-text-box-icon me-2"></i>
                                przeglądy okresowe
                            </li>

                            <li class="custom-list-item d-flex">
                                <i class="bi-check custom-text-box-icon me-2"></i>
                                diagnostyka i naprawa ukladów zasilania i sterowania silników benzynowych i diesla TDI HDI CDI
                            </li>

                            <li class="custom-list-item d-flex">
                                <i class="bi-check custom-text-box-icon me-2"></i>
                                diagnostyka filtrów cząstek stałych DPF-FAP
                            </li>

                            <li class="custom-list-item d-flex">
                                <i class="bi-check custom-text-box-icon me-2"></i>
                                remonty kapitalne silników
                            </li>
                            <li class="custom-list-item d-flex">
                                <i class="bi-check custom-text-box-icon me-2"></i>
                                wymiany sprzęgła
                            </li>
                            <li class="custom-list-item d-flex">
                                <i class="bi-check custom-text-box-icon me-2"></i>
                                naprawy hamulcy
                            </li>
                            <li class="custom-list-item d-flex">
                                <i class="bi-check custom-text-box-icon me-2"></i>
                                naprawy zawieszenia
                            </li>
                             <li class="custom-list-item d-flex">
                                <i class="bi-check custom-text-box-icon me-2"></i>
                                wymiana filtrów i oleju
                            </li>
                            <li class="custom-list-item d-flex">
                                <i class="bi-check custom-text-box-icon me-2"></i>
                                i wiele innych...
                            </li>
                        </ul>
                    </div>
                 </div>

            </div>



 

        </div>
    </div>
</section>




<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-black">Opinie</h2>
            <h1 class="display-4 text-uppercase">Co mówią nasi klienci!!!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid flex-shrink-0" src="/majumiservice/images/harry.png" style="width: 60px; height: 60px;">
                    <div class="ps-3">
                        <h4 class="text-white text-uppercase mb-1">Hairy Styles</h4>
                        <span>fryzjer</span>
                    </div>
                </div>
                <p class="mb-0 text-white">
                    "Ten serwis samochodowy to absolutna petarda! Moje auto zostało naprawione w mgnieniu oka, a obsługa była niesamowicie pomocna i przyjazna. Gorąco polecam każdemu, kto szuka szybkiej i profesjonalnej naprawy z doskonałą obsługą."
                </p>
            </div>
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid flex-shrink-0" src="/majumiservice/images/mariusz.png" style="width: 60px; height: 60px;">
                    <div class="ps-3">
                        <h4 class="text-white text-uppercase mb-1">Dariusz Pudzianowski</h4>
                        <span>kulturysta</span>
                    </div>
                </div>
                <p class="mb-0 text-white">
                    "Ten serwis samochodowy to prawdziwa siła! Moje auto zostało naprawione w mgnieniu oka, a ekipa naprawcza wykazała się ogromnym profesjonalizmem i determinacją. Mogę śmiało powiedzieć, że to najlepszy serwis samochodowy, z jakim miałem do czynienia - godny mistrza!"
                </p>
            </div>
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid flex-shrink-0" src="/majumiservice/images/maklowicz.png" style="width: 60px; height: 60px;">
                    <div class="ps-3 text-white">
                        <h4 class="text-white text-uppercase mb-1">Robert Pakłowicz</h4>
                        <span>farmer</span>
                    </div>
                </div>
                <p class="mb-0 text-white">
                    " Majumi to prawdziwa uczta dla mojego samochodu! Ich rzemieślnicze podejście do napraw i dbałość o szczegóły sprawiają, że czuję się jak w najlepszej restauracji dla pojazdów. Obsługa jest nie tylko kompetentna, ale także pełna pasji do swojej pracy. Polecam Majumi każdemu smakoszowi samochodowych przyjemności!"
                </p>
            </div>
            <div class="testimonial-item bg-dark text-white border-inner p-4">
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid flex-shrink-0" src="/majumiservice/images/gracjan.png" style="width: 60px; height: 60px;">
                    <div class="ps-3">
                        <h4 class="text-white text-uppercase mb-1">Gracjan Potocki</h4>
                        <span>influencer</span>
                    </div>
                </div>
                <p class="mb-0 text-white">
                    "Serwis samochodowy Majumi to prawdziwa bomba! Naprawili mój samochód z takim humorem i polotem, że aż miło było płacić. Obsługa była mega życzliwa i chętna do pomocy. Polecam Majumi wszystkim, którzy chcą mieć nie tylko sprawnie działający samochód, ale także dobre przepisy na humor!"
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

<footer class="site-footer">


    <div class="site-footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-7 col-12">
                    <p class="copyright-text mb-0">
                        <br> Wydział Elektroniki I Technik Informacyjnych. M. Matuszewski, M. Jurczak, J. Parobczy
                    </p>
                </div>

            </div>
        </div>
    </div>
</footer>                